# App Configuration
APP_NAME=swifty-chatbot
APP_HOST=0.0.0.0
APP_PORT=8080

# Redis Configuration
REDIS_ENABLED=true
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=pass
REDIS_DB=0

# MySQL Configuration
MYSQL_PORT=3306
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=pass
MYSQL_DB=ai_agent
MYSQL_CHARSET=utf8mb4

# JWT Configuration
JWT_EXPIRE_DURATION=8760
JWT_ISSUER=swifty-chatbot
JWT_SUBJECT=swifty-chatbot
JWT_KEY=swifty-chatbot

# RAG Configuration
RAG_EMBEDDING_MODEL=nomic-embed-text
RAG_DOCS_DIR=./docs
RAG_DIMENSION=1024

# AI Configuration
AI_MODE_NAME=qwen3
AI_BASE_URL=http://localhost:11434
